/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/public/assets

.env
.env.*
!.env.example

/config/master.key
/config/credentials/*.key

/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/coverage
/spec/tmp
/spec/examples.txt
/spec/vcr_cassettes/**/*.yml.bak

.byebug_history
.ruby-lsp/
.DS_Store
